[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2018.11.29"
chardet = "==3.0.4"
click = "==7.0"
django-bootstrap4 = "==0.0.7"
django-crispy-forms = "==1.7.2"
django-model-utils = "==3.1.2"
django-phonenumber-field = "==2.1.0"
django-taggit = "==0.23.0"
docopt = "==0.6.2"
idna = "==2.8"
phonenumbers = "==8.10.2"
pip-tools = "==3.2.0"
pipreqs = "==0.4.9"
pytz = "==2018.7"
requests = "==2.21.0"
six = "==1.11.0"
urllib3 = "==1.24.1"
yarg = "==0.1.9"
Babel = "==2.6.0"
Django = "==2.2.13"
Pillow = "==5.3.0"

[requires]
python_version = "3.6"
