{% extends "bookmarksapp/base.html"%}
{% load crispy_forms_tags %}
{% block container%}
<h1 class="mt-2">Login</h1>
<hr class="mt-0 mb-4">
    <form action = "{% url 'bookmarksapp:login' %}" method="POST">
    {% csrf_token %}
      <p class="form-inline" ><label for="id_username">Username:</label> <input type="text" class="form-control" name="username" autofocus required id="id_username"></p>
    <p class="form-inline" ><label for="id_password">Password:</label> <input class="form-control" type="password" name="password" required id="id_password"></p>
      <button class="btn btn-primary"  type="submit">Login</button>
    </form>
    <form action="{% url 'bookmarksapp:signup' %}">
        <p>Not Yet Created Account.. Go to below signup Page.</p>
        <input class="btn btn-primary"  type="submit" value="Signup" />
    </form>
{% endblock%}