{% extends 'pagesapp/base.html' %}
{% load crispy_forms_tags %}
{% block title%}
    <title>Home</title>
{% endblock %}

{% block navbarcontent %}
    {% include  'pagesapp/navbar.html' %}
{% endblock navbarcontent %}


{% block homepagecontent%}
    <h3> Create Your Page Here </h3>
    <form action="{% url 'pagesapp:home'%}" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock homepagecontent %} 