<<<<<<< 7ffb166401fd1d983a7a9e87056ef94dc878337f
	#title
	{
		text-align: center;
		color: green;
	}
	.head p {
		text-align: right;
	}
=======
>>>>>>>  added root page,bootstrap to all apps and some enhancments to placesapp filter and for signin sessions
	.leftDiv
	{
		width: 23%;
		float: left;
		color:#867eff;
	}
	.leftDiv h3{
		margin-left: 5%;
	}

	.btn-outline-primary{
		margin-left: 3%;
   		width: 80%;
   		height: 5%;
	}
	.rightDiv
	{
		width: 70%;
		float: right;
		color:  #867eff;
	}
	.rightDiv h3{
		margin-left: 2%;
	}
