	.leftDiv
	{
		width: 23%;
		float: left;
		color:#867eff;
	}
	.leftDiv h3{
		margin-left: 5%;
	}

	.btn-outline-primary{
		margin-left: 3%;
   		width: 80%;
   		height: 5%;
	}
	.rightDiv
	{
		width: 70%;
		float: right;
		color:  #867eff;
	}
	.rightDiv h3{
		margin-left: 2%;
	}